@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

#slack {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  width: 99%;
  font-family: Inter;
}



.share-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  right: 208px;
  top: 60px;
  background: #FFFFFF;
  border: 1px dashed hsl(217, 16%, 84%);
  border-radius: 20px;
  cursor: pointer;
}

.share-icon .tooltipText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 2px;
  right: 117%;



}


.share-icon:hover .tooltipText {
  visibility: visible;
}


.share-icon img {
  display: flex;
  align-items: center;
  justify-content: center;

}

#profile__img {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 88px;
  height: 88px;
  border-radius: 275px;

}

.profile_div {
  display: block;
  margin: 0 auto;
  margin-top: 60px;
  width: 88px;
  height: 88px;
  border-radius: 275px;
}


.profile_div:hover {
  background-color: #101828;
  opacity: 0.8;

}

.cam {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  right: 49%;
  top: 19.5%;
  height: 1px;

}

.profile_div:hover .cam {
  visibility: visible;

}

#twitter {
  display: block;
  height: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #101828;
  margin-bottom: 80px;
}

.link {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 24px;
  justify-items: center;

}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 12px;
  background-color: #EAECF0;
  width: 100%;
  height: 76px;
  border: 1px solid white;
  border-radius: 8px;
  text-decoration: none;

}

.books:hover {
  background-color: #bdbec1;
}

.books span {
  text-align: center;
  text-transform: capitalize;
  list-style-type: none;
  color: #101828;
  font-size: 18px;
  font-weight: 500;
}

.socio-link {
  display: block;
  margin: 0 auto;
  width: 10%;
  margin-top: 20px;
}

.socio-link a {
  margin: 20px;

}

.foot {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  width: 98%;
  border-top: 1px solid #EAECF0;
  padding-top: 40px;
  margin-top: 80px;
  background-color: #FFFFFF;
  margin-bottom: 25px;
}